# Environments
.env
.venv
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Database
*.sqlite3
*.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDE / Editor
.idea/
.vscode/
*.swp
*~
.DS_Store

# Static files
backend/static/
backend/media/

# Logs
logs/
*.log

# Docker
docker-compose.override.yml